<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
   Hello from Index.ejs 
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io('http://localhost:5000');
</script>
</html>
